/* Text: font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* Heading: font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 100px;
}

.logo {
    cursor: pointer;
    height: 100px;
    width: 105px;
    margin: 0 30px;
}

/* h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 10px 20px;
    padding: 10px 20px;
} */

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 5px 5px;
    padding: 7px 7px;
    padding: 0 18px;
}

nav li a {
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
}

nav li a:hover {
    color: #714692;
}

.hero {
    height: calc(100vh - 100px);
    background-image: url('/images/pexels-pixabay-163194.jpg');
    background-image: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
}